*.iml
.idea
.kitchen
.kitchen/*
.kitchen/**
.vagrant
vagrant.log
target/
*/target/
*/*/target
*/*/*/target
dep_current.txt
*/dependency-reduced-pom.xml
launcher/felix/bundles/3/*.jar
.DS_Store
lmysql.passwd
node_modules/
logs
derby.log
index
